@import "library";
@import "reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

// Global templates


$main-red: #c0392b;
$main-purple: #2E3666;

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

%formpanel {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ecf0f1;
  margin-top: 50px;
  padding: 20px 40px;
  text-align: center;

  h2 {
    font-size: 42px;
    position: absolute;
    top: 120px;
    right: 60px;
  }

  input {
    background-color: #ecf0f1;
    width: 75%;
    height: 40px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid black;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 10px;
  }

  img {
    &.banner {
      max-width: 125px;
      position: absolute;
      top: -60px;
      left: 40px;
    }
  }

  .reset_banner {
      max-width: 125px;
      position: absolute;
      top: -17px;
      left: 40px;
  }

  form {
    margin-top: 140px;

    .submit {
      background-color: $main-purple;
      width: 30%;
      color: white;
      margin-top: 10px;
      border: none;

    }

    .avatar {
      border: none;
      width: 45%;
      font-size: 17px;
    }

    .birthday {
      margin-left: -60%;
      font-size: 17px;
    }

    div {
      margin: 0 auto;
    }

    p {

      &.warning {
        text-align: left;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 10px;
        color: $main-red;
        display: none;
      }
    }

  }


}

// Global tags

body {
	@extend %container;
	font-family: 'Open Sans Condensed', sans-serif;
  // $main-red: #c0392b;

}

a {
    color: #800000;
}

// Everything else


section {

  position: relative;

  &.user-form {
    @extend %formpanel;
  }


}

