@import "library";
@import "reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

// Global templates

html {
  height: 100%;
}

$main-red: #c0392b;
$main-purple: #2E3666;

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

%formpanel {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ecf0f1;
  margin-top: 50px;
  padding: 20px 40px;
  text-align: center;

  h2 {
    font-size: 42px;
    position: absolute;
    top: 120px;
    right: 60px;
  }

  input {
    // background-color: #ecf0f1;
    // width: 100%;
    // height: 40px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 19px;
    border: 1px solid gray;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 10px;
  }

  img {
    &.banner {
      max-width: 125px;
      position: absolute;
      top: -60px;
      left: 40px;
    }
  }

  .reset_banner {
      max-width: 125px;
      position: absolute;
      top: -17px;
      left: 40px;
  }

  form {
    margin-top: 140px;

    .submit {
      background-color: $main-purple;
      width: 38%;
      height: 40px;
      color: white;
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;

    }
    
    .avatar_checkbox {
      display: inline;
      width: 100%;
      height: 35px;
      
        .avatar {
          border: none;
          margin-left: 14%;
          // width: 100%;
        }

        .avatar_label {
          text-align: left;
          margin-left: 15%;
          font-size: 18px;
 

        }

        input[type="file"] {
          
        }
      }

    .birthday {
      margin-left: -80%;
      font-size: 18px;
      margin-bottom: -10px;
    }

    div {
      margin: 0 auto;
      width: 75%;

    }

    .check_box {
      width: 75%;
      margin-top: 10px;

      p{
        display:inline;
        margin-left: 5px;
        font-size: 17px;
      }
    }

    

    p {

      &.warning {
        text-align: left;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 10px;
        color: $main-red;
        display: none;
      }
    }

  }


}


// Global tags

body {
  height: 100%;
	@extend %container;
	font-family: 'Open Sans Condensed', sans-serif;
  // $main-red: #c0392b;

}

a {
    color: #800000;
}

// Everything else


section {

  position: relative;

  &.user-form {
    @extend %formpanel;
  }

}


footer {
  color: $main-purple;
  text-align: center;
  width:100%;
  position: relative;
  clear:both;
  margin-top: 10px;
  bottom: 0px;
}