@import "library";
@import "reset";

// Global templates


$main-red: #c0392b;
$main-purple: #2E3666;

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

%formpanel {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ecf0f1;
  margin-top: 50px;
  padding: 20px 40px;
  text-align: center;

  h2 {
    font-size: 42px;
    position: absolute;
    top: 120px;
    right: 60px;
  }

  input {
    background-color: #ecf0f1;
    width: 75%;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 18px;
    border: 1px solid black;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 10px;
  }

  img {
    &.banner {
      max-width: 125px;
      position: absolute;
      top: -60px;
      left: 40px;
    }
  }

  .reset_banner {
      max-width: 125px;
      position: absolute;
      top: -17px;
      left: 40px;
  }

  form {
    margin-top: 175px;

    div {
      margin: 0 auto;
    }
  }


}

// Global tags

body {
	@extend %container;
	font-family: 'Open Sans Condensed', sans-serif;
  // $main-red: #c0392b;

}

a {
    color: #800000;
}

// Everything else


section {

  position: relative;

  &.user-form {
    @extend %formpanel;
  }


}

